<div class="container text-center">
  <div class="row">
    <h1>
      DONE
    </h1>
  </div>

  <div class="row">
    <p>
      <strong>
        Your Word:
      </strong>
      <%= @your_word %>
    </p>
  </div>

  <div class="row">
    <p>
      <strong>
        The Grid:
      </strong>
      <%= @grid.join(" ") %>
    </p>
  </div>

  <div class="row">
    <p>
      <strong>
        Time Taken:
      </strong>
      <%= @time_taken.round %> seconds
    </p>
  </div>

  <div class="row">
    <p>
      <strong>
        Translation:
      </strong>
      <%= @translation %>
    </p>
  </div>

  <div class="row">
    <p>
      <strong>
        Score:
      </strong>
      <%= @score %>
    </p>
  </div>

  <div class="row">
    <p>
      <strong>
      Message:
      </strong> <%= @message %>
    </p>
  </div>

  <div class="row">
    <%= link_to "New Game", "/pages/game", class: "btn btn-danger" %>
  </div>
</div>

